<div class="form container">
  <%= form_for @todo do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :due_date %>
      <div class="form-control"><%= date_select :todo, :due_date %></div>
    </div>
    <div class="form-group">
      <%= f.label :note %>
      <%= f.text_field :note, class: "form-control" %>
    </div>
    <%= f.submit %>
  <% end %>
</div>